{% extends "base_lite.html" %}
{% block content %}
  <h2 style="color: #ff6021;">Ablaze</h2>
  <p>Surf the modern web. On a retro browser. Its that simple.</p>

  <form action="/search-lite" method="get">
    <input type="text" name="q" size="45" placeholder="Search the web...">
    <input type="submit" value="Search">
  </form>

  <hr>

  <h3>Proxy Access</h3>
  <p>Browse modern sites through our simplified proxy. Simply enter the URL of the site you want to visit.</p>

  <form action="/go-lite" method="get">
    <input type="text" name="url" size="40" placeholder="Enter URL to proxy...">
    <input type="submit" value="Proxy!">
  </form>

  <p>Need a cleaner, non-interrupted and blazing fast version? Try <b>Pure-Proxy</b> mode:</p>
  <form action="/go-pure-lite" method="get">
    <input type="text" name="url" size="40" placeholder="Enter URL to pure-proxy...">
    <input type="submit" value="Pure-Proxy!">
  </form>

  <hr>

  <h3>About</h3>
  <p><b>What is Ablaze?</b><br>
  Ablaze (formerly DihFind) is a search engine and website proxy service built for vintage browsers. It rewrites modern sites for simpler, text-friendly viewing by stripping out JS, modern CSS and HTML.</p>

  <p><b>Why so few results?</b><br>
  The system limits responses to the first 50 matches for speed and clarity. Actually, you will get about more or less 35 results at a time.</p>

  <p><b>How does it work?</b><br>
  In our current infrastructure, a Python Flask webserver on PythonAnywhere that allows HTTP gets your request. It then forwards it to our Ablaze server on Vercel which enforces HTTPS. For searches, it uses the Python ddgs module and sends back the response. For proxying sites, it requests that specific site (note that all sites don't work), gets its source code, strips out modern HTML/CSS/JS and returns the cleaned page back.</p>

  <b>What happens to my browsing data?</b><br>
  Your data is <b>never</b> shared outside Ablaze. Your site data (cookies only) are completely wiped out from our DB after 1 hour of inactivity and NEVER RESTORED. This also means that not using Ablaze for 1 hour will completely reset your login info for websites, etc.</p>

  <p><b>Why was Ablaze made?</b><br>
  To keep old machines exploring the modern Internet without breaking, like IE 5.0 on Windows 98 SE, as well as old Mac's.</p>

  <p><b>What was Ablaze inspired by?</b><br>
  Ablaze was inspired by <i><a href="http://frogfind.com">FrogFind</a></i>, made by Action Retro (YouTuber).
{% endblock %}